<ion-content>
  <ion-segment [(ngModel)]="active" (ionChange)="getTasks(active);">
    <ion-segment-button [value]="true">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="false">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngFor="let task of tasks">
    <app-task [task]="task" (onDeleteTask)="onDeleteTask($event);" (onCompleteTask)="onCompleteTask($event)"></app-task>
  </ion-list>
  <ion-fab *ngIf="active" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showModal()" expand="block">
      <ion-icon name="add-sharp"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
